trigger:
- main

pool:
  name: Default

variables:
  azureSubscription: 'AzureServiceConnection'
  nodeVersion: '22.x'

stages:
- stage: DeployTenantA
  jobs:
  - job: DeployA
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
    - script: |
        cd $(System.DefaultWorkingDirectory)
        npm install
      displayName: 'Install npm packages'
    - task: AzureWebApp@1
      inputs:
        azureSubscription: '$(azureSubscription)'
        appName: 'alpha-app-ib41'
        package: '$(System.DefaultWorkingDirectory)'

- stage: DeployTenantB
  jobs:
  - job: DeployB
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
    - script: |
        cd $(System.DefaultWorkingDirectory)
        npm install
      displayName: 'Install npm packages'
    - task: AzureWebApp@1
      inputs:
        azureSubscription: '$(azureSubscription)'
        appName: 'beta-app-kozg'
        package: '$(System.DefaultWorkingDirectory)'

- stage: DeployTenantC
  jobs:
  - job: DeployC
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
    - script: |
        cd $(System.DefaultWorkingDirectory)
        npm install
      displayName: 'Install npm packages'
    - task: AzureWebApp@1
      inputs:
        azureSubscription: '$(azureSubscription)'
        appName: 'gamma-app-m9f0'
        package: '$(System.DefaultWorkingDirectory)'
